@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.container {
  background-color: #fff;
  overflow-x: hidden;

  //Display menu and rotation screen👇👇

  .show-menu {
    transform: rotate(-30deg);
  }

  //  👇👉Circle icon-menu

  .circle {
    position: fixed;
    top: -7rem;
    left: -7rem;

    &__content {
      background-color: rgb(25, 139, 173);
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      position: relative;
    }

    &__btns {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 20%;
      background-color: transparent;
      border: 0;
      color: #fff;

      span {
        font-size: 5rem;
      }
    }

    &__open {
      left: 50%;
    }
    &__close {
      left: -60%;
    }
  }

  // 👇👉the content text and img
  &__content {
    padding: 10rem;
    width: 120rem;
    margin: 0 auto;

    h2 {
      font-size: 3.5rem;
    }
    small {
      font-size: 1.3rem;
      font-style: italic;
    }
    p {
      margin: 1.3rem 0;
      padding-bottom: 2rem;
    }
    h4 {
      margin-top: 2rem;
    }

    figure {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
